$darkMode:#121212;
$gray:#707070;
$bluGreen:#0EA5A0;
$lightMode: #f6f6f6;
$titleFont:'Montserrat';
$textFont:'Source Sans Pro';
$codeFont:'Source Code Pro';

*{
    margin: 0;
    padding: 0;
    color: $darkMode;
}
body{
    background-color: $lightMode;
    font-family: $textFont, sans-serif;
    text-rendering: optimizeLegibility;
}
h1{
    margin: 0;
    font-family: $titleFont;
    font-size: 2rem;
}
h2{
    margin: 0;
    margin-top: 1rem;
    font-family: $titleFont;
    font-size: 1.75rem;
}
h3{
    margin: 0;
    margin-top: 1rem;
    font-family: $titleFont;
    font-size: 1.5rem;
}

p{
    margin: 1rem 0 0 0;
    font-size: 1.25rem;
    line-height: 200%;
    font-weight: 400;
}
p:last-child{
    margin-bottom: 1rem;
}
h1,h2,h3,p{
    &:hover{
        cursor: default;
    }
}
a{
    color:$bluGreen;
}
a:hover{
    text-decoration: underline;
}
.active{
    text-decoration: underline !important;
    color: $darkMode;
}
nav{
    overflow: hidden;
    margin: 0;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #title{
        font-size: 2rem;
        float: left;
        font-family: $titleFont;
        margin-left: 16rem;
    }
    #title:hover{
        text-decoration:underline;
    }
    .nav-right{
        vertical-align: bottom !important;
        margin-right: 16rem;
        float: right;
        height: auto;
        width: auto;
        a{
            float: left;
            color:$gray;
            text-align: center;
            padding: 0px 42px;
            text-decoration: none;
        }
        a:last-child{
            padding-right: 0;
        }
        a:hover{
            color: $darkMode;
            text-decoration: underline;
        }
    }
}
.articles{
    h1{
        margin-top: 1rem;
    }
    h2{
        margin-top: 1rem;
    }
    h3{
        margin-top: 1rem;
    }
    
    a{
        color: $darkMode;
    }
}
.dateRead{
    color: $gray;
}
.container{
    display: grid;
    padding: 6rem 26rem 1rem 26rem;
}
.project{
    display: inline-grid;
}
code{
    font-family: $codeFont;
    background-color: #E3E2DA;
    padding: 0 4px;
}
hr:last-child{
    margin-bottom: 1rem;
}
ul,ol{
    font-size: 1.25rem;
    list-style-position: inside;
    text-align: left;
}
blockquote{
    display: block;
    border-left: 10px solid $gray;
    margin: 1.5rem 0.5rem;
    padding: 0.25rem 2rem;
}
footer{
    position: relative;
    bottom: 0;
}
.projectContainer{
    width: 100%;
    margin:0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2rem
}
.project{
    display: inline;
    background-color: #E3E2DA;
    padding: 0.5rem 2rem 1.5rem 2rem;
    transition: 250ms ease-in-out;
    &:hover{
        background-color: $bluGreen;
        transform: scale(1.05,1.05);
        p,h3,a i{
            color: $lightMode;
        }
    }
    h2{
    }
    p{
    }
    a i{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }
}
.fancyhover{
    transition:all 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media(max-width: 1024px) {
    nav{
        #title{
            margin-left: 4rem;
        }
        .nav-right{
            margin-right: 4rem;
        }
    }
    .container{
        padding: 1rem 4rem;
    }
}
@media(max-width: 768px) {
    nav{
        #title{
            margin-left: 2rem;
        }
        .nav-right{
            margin-right: 2rem;
            a{
                padding: 0px 1rem;
                
            }
        }
    }
    .container{
        padding: 1rem 2rem;
    }
    .projectContainer{
        grid-template-columns: 100%;
    }
}
@media(max-width: 576px) {
    nav{
        #title{
            margin-left: 1rem;
        }
        .nav-right{
            margin-right: 1rem;
            a{
                padding: 0px 0.5rem;
            }
        }
    }
    .container{
        padding: 1rem 1rem;
    }
}