<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Felpix - Articles</title>
</head>
<body>
<nav>
    <a href="/" id="title">Felpix</a>
    <div class="nav-right">
        <a href="projects">Projects</a>
        <a href="articles">Articles</a>
        <a href="about" class="active">About</a>
    </div>
</nav>
<div class="container">
    <h1>A Little bit About Me :</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus in illum dolores ipsum saepe ipsam, sunt facere aliquam, aut quod modi ad ut quae, sequi delectus expedita adipisci eveniet vero?</p>
</div>
</body>
</html>