<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>Felpix - Articles</title>
</head>
<body>
<nav>
    <a href="/" id="title">Felpix</a>
    <div class="nav-right">
        <a href="projects">Projects</a>
        <a href="articles">Articles</a>
        <a href="about" class="active">About</a>
    </div>
</nav>
<div class="container">
    <h1>About Me</h1>
    <p>First off, my real name is Kevin. I'm a full-time high school student who enjoys programming, no surprise. I'm a full-stack web developer experienced in Node.js, Express, React, Vue.js, and NoSQL.</p>
    <p>For fun, I dabble in graphic design, photography, and audio engineering. I also recently picked up the piano and I spend most of my free time either reading or playing some video game.</p>
    <p>Feel free to email me at <a href="mailto: hi@felpix.com">hi@felpix.com</a> or send me a message on Discord where my username is <code>Felpix#7321</code>.</p>
    <p>As of the moment, I'm focused on learning more things and gathering greater understandings of programming and technology. I'm passionate that I can make a difference in the world and I'm actively taking steps to achieve that goal.</p>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111843914-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111843914-1');
</script>

</body>
</html>