<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Felpix - Articles</title>
</head>
<body>
<nav>
    <a href="/" id="title">Felpix</a>
    <div class="nav-right">
        <a href="projects">Projects</a>
        <a href="articles" class="active">Articles</a>
        <a href="about">About</a>
    </div>
</nav>
<div class="container">
    <h1>Articles</h1>
    <p>A little known website called Forbes told me that starting a blog could create some serious revenue. Well, that's one career erased from the list.</p>
    <hr>
    <div id="Articles-Block">

        <% articles.forEach(article=>{ %>
            <div class="article">
                <h1><a><%=article.title %></a></h1>
                <%
                    firstLine=article.markdown.split('.')[0]+"..."
                    %>
                <%-firstLine %>
                <p class="dateRead"><% time=article.time.toString();
                    words=time.split(" ")
                    words.length=4;
                    words.shift();
                    timeString=""
                    words.forEach(element => {
                        timeString+=element+" "
                    });
                    %><%=timeString%> • <%=Math.round(article.wordCount/200) %> Min Read</p>
                <hr>
            </div>
        <% }) %>
        
    </div>
</div>
</body>
</html>