<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>Felpix - Home</title>
</head>
<body>
<nav>
    <a href="/" class="active" id="title">Felpix</a>
    <div class="nav-right">
        <a href="projects">Projects</a>
        <a href="articles">Articles</a>
        <a href="about">About</a>
    </div>
</nav>
<div class="container">
    <h1>Hi, I'm <a href="about">Felpix</a> and welcome to my website. Here, you can find my <a href="articles">blog</a> and take a look at a few of my <a href="projects">projects</a>.</h1>
</div>
</body>
</html>