<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <title>Felpix - Projects</title>
</head>
<body>
<nav>
    <a href="/" id="title">Felpix</a>
    <div class="nav-right">
        <a href="projects" class="active">Projects</a>
        <a href="articles">Articles</a>
        <a href="about">About</a>
    </div>
</nav>
<div class="container">
    <h1>Projects</h1>
    <p>Here's my selection of some the things I've made.</p>
    <p>Oh wait, there's nothing here; 🙁</p>
</div>
</body>
</html>