<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <script src="https://kit.fontawesome.com/913c1dfd31.js" crossorigin="anonymous"></script>
    <title>Felpix - Projects</title>
</head>
<body>
<nav>
    <a href="/" id="title">Felpix</a>
    <div class="nav-right">
        <a href="projects" class="active">Projects</a>
        <a href="articles">Articles</a>
        <a href="about">About</a>
    </div>
</nav>
<div class="container">
    <h1>Projects</h1>
    <p>Here's my selection of some the things I've made.</p>
    <p>Oh wait, there's nothing here; 🙁</p>
    <hr>
    <div class="projectContainer">
        <div class="project">
            <h3>Portfolio Website</h3>
            <p>Built using Express to manage routes and the blog posts with a static front end. Planning on upgrading the front end with Vue.js in the near future!</p>
            <a><i class="fas fa-code"></i></a>
            <a><i class="far fa-window-maximize"></i></a>
        </div>
        <div class="project">
            <h3>Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra leo vitae metus tempor fermentum. Nullam sit amet porta mi, et facilisis augue. Maecenas venenatis, justo vel sodales fermentum, risus.</p>
        </div>
        <div class="project">
            <h3>Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra leo vitae metus tempor fermentum. Nullam sit amet porta mi, et facilisis augue. Maecenas venenatis, justo vel sodales fermentum, risus.</p>
        </div>
        <div class="project">
            <h3>Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra leo vitae metus tempor fermentum.</p>
        </div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111843914-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111843914-1');
</script>

</body>
</html>